@chaset="utf8";
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
      
}
#promocao{
    display: flex;
    margin-top: 0px;
    min-height: 300px;
    background-color: 069676;
    font-size: 40px;

}

.img{
			height: 400px;
			width: 300px;
		}
   #slide{
        min-height: 400px;
        background: #fff;
        flex: 3 1 100%;
        order: 2;

}
		#slide{
			width: 100%;
			overflow: hidden;
			height: 400px;
			position: relative;

		}
			#slide img{
				position: absolute;
				z-index: 1;
				display: none;
				
				width: 100%;
               
			}
		
   .voltar{
     text-transform: uppercase;
     position: absolute;
     z-index: 3;
     
     top: 150px;
     color: aliceblue;
    font-size: 40px;
    cursor: pointer;

}

    .proximo{
     text-transform: uppercase;
     right: 0px;
     top: 150px;
     position: absolute;
     z-index: 3;
     color: aliceblue;  
     font-size: 40px;
     cursor: pointer;
        
    }
    #lancamentos{
   min-height: 400px;
   
    }