@charset"utf-8";
   *{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
 }
.foter{
display: 
		-webkit-flex;
		-webkit-flex-flow: row; 
}
.footer1{
background: #2A2929;
height: 300px
}
.footer1 img{
  width: 300px;
  margin-right: 50px;
  margin-left: 20px;
  margin-top: 25px;
}
.footer1 h2 {
	font-size: 25px;
  color: #ffffff;
  font-weight: 300;
  margin-top: 50px;
  text-decoration: underline;

}
.footer1 h3 {
	font-size: 25px;
  color: #ffffff;
  font-weight: 300;
 margin-left: 15px;
  margin-top: 50px;
  text-decoration: underline;

}
.footer1 h1 {
	font-size: 25px;
  color: #ffffff;
  font-weight: 300;
  
 margin-top: 50px;
  text-decoration: underline;
}
.rodape_contatos li{
 text-decoration:none;
  list-style: none;

}
.icon1_contato{
	width: 20px;
}
.footer2{
	height: 70px;
background: black;
}
.rodape li{
	color: #EFEDED;
	margin-top: 10px;
	margin-left: 17px;
	font-family: arial;
}

.footer1,.footer2 h2{
	color: #ffffff;
	margin-top: 10px;

font-family:verdana;


}
 @media all and (max-width: 400px){
 	.foter{
			display: 
			-webkit-flex;
			-webkit-flex-flow: row;
			flex-direction: column;

		}

 	}
  .rede__social {
    width: 69%;
  }